<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <div class="header-fields flexrow">
      <div class="ncou-input-cyber ncou-font-big">
        <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="attributes">Attributes</a>
    <a class="item item-delete" title="{{localize "DOCUMENT.Delete" type="Edge"}}">
      <i class="fas fa-trash"></i>
    </a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      {{!-- As you add new fields, add them in here! --}}
      <div class="resource">
        <label class="resource-label">trademarkid:</label> {{system.trademarkid}}
      </div>
    </div>
  </section>
</form>